<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="uriBase" value="AZURE_END_POINT_HERE"/>
		<add key="subscriptionKey" value="_AZURE_TOKEN_HERE"/>
		<add key="detectedType" value="EMGU"/>  
		<!--AZURE|EMGU-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
